KAFKA_BROKERS=localhost:9094
MONGO_URI=mongodb://system:system@localhost:27017/customers?authSource=admin
PORT=3001

KAFKA_NEW_CUSTOMER_REGISTERED_TOPIC=new.customer.registered
KAFKA_SEND_EMAIL_TOPIC=send.email
KAFKA_SEND_PUSH_NOTIFICATION_TOPIC=send.push.notification
